body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("http://www.zastavki.com/pictures/originals/2013/Cities_Moon_over_night_city_043876_.jpg") no-repeat center fixed;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    opacity: 0.85;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.blocGauche {
    position: relative;
    float: left;
}

.blocMilieu {
    text-align: center;
}

.blocDroit {
    float: right;
    margin-right: 5%;
}

textarea {
    resize: none;
}

.UserName {
    color: forestgreen;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
