@{
    ViewBag.Title = "Contact";
}
<h3>Nous contacter</h3>

<address>
    Société Talu<br />
    5 rue du Talus, Illkirch-Graffenstaden<br />
    email : talu@gmail.com<br />
    github : https://github.com/Mekasup/Talu
</address>

<address>
    <strong>Support:</strong>   <p>bastih@hotmail.fr</p><br />
    <strong>Marketing:</strong> <p>super-jojo@laposte.net</p>
</address>