@{
    ViewBag.Title = "Home Page";
}

<div class="jojo">
    <h1>ben ouai</h1>
    <select class="selectpicker">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
</div>

