@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="text-align: center;"><label>Bienvenue sur le projet Talu</label></h1>
    <div>
        <h2>Notre equipe :</h2>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4" style="text-align: center;">
                    <h3>Sitek Jocelyn</h3>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4" style="text-align: center;">
                    <h3>Hagenbach Bastien</h3>
                </div>
            </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/7GQ9Wxz.png" class="img-responsive" style="opacity: 1 !important;" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="http://i.imgur.com/4DfUmAY.png" class="img-responsive" style="opacity: 1 !important;" />
            </div>
        </div>
        <h2>Nos engagements :</h2>
        <div class="row" style="margin-left: 10px;">
            <label>-  Une musique de qualité</label>
        </div>
        <div class="row" style="margin-left: 10px;">
            <label>-  Accessible à tous</label>
        </div>
        <div class="row" style="margin-left: 10px;">
            <label>-  Un site sécurisé et responsive</label>
        </div>
        <div class="row" style="margin-left: 10px;">
            <label>-  Pas de frais d'inscription</label>
        </div>
        <div class="row" style="margin-left: 10px;">
            <label>-  Une équipe à votre service</label>
        </div>
    </div>
</div>